<!DOCTYPE html>
<html>
  <head>
    <title>CI Status</title>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="index.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="title">CI Status</h1>
    <div class="wrap">
      <div class="project">
        <h2 class="name f-eps">branch-branch-branch</h2>
        <div class="task">
          <div class="content">
            <span class="branch f-eps">feature_12312123123_2078123123123123_2078123123</span>
            <span class="status"></span>
          </div>
          <div class="extra">
            <span class="time">2017-01-08 23:56:23</span>
            <a class="sha" href="#">ca67d86</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>