<!DOCTYPE html>
<html>
  <head>
    <title>CI Status</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="title">CI Status</h1>
    <div class="wrap">
      <div class="project">1</div>
      <div class="project">2</div>
      <div class="project">3</div>
      <div class="project">4</div>
      <div class="project">5</div>
    </div>
  </body>
</html>